<?xml version="1.0"?>
<!--
  BrickBot top-level composition.
  Usage:
    xacro brickbot.urdf.xacro prefix:=robot_a_ tool:=gripper
-->
<robot name="brickbot" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:arg name="prefix" default=""/>
  <xacro:arg name="tool"   default="gripper"/>

  <xacro:property name="pfx" value="$(arg prefix)"/>
  <xacro:property name="tool_type" value="$(arg tool)"/>

  <xacro:include filename="$(find brickbot_description)/urdf/base_tracked.xacro"/>
  <xacro:include filename="$(find brickbot_description)/urdf/arm_6dof.xacro"/>
  <xacro:include filename="$(find brickbot_description)/urdf/tool_gripper.xacro"/>
  <xacro:include filename="$(find brickbot_description)/urdf/tool_cement.xacro"/>

  <xacro:base_tracked prefix="${pfx}"/>

  <xacro:arm_6dof prefix="${pfx}arm_" parent="${pfx}base_link">
    <origin xyz="-0.3 0 0.2" rpy="0 0 0"/>
  </xacro:arm_6dof>

  <xacro:if value="${tool_type == 'gripper'}">
    <xacro:tool_gripper prefix="${pfx}arm_" parent="${pfx}arm_tool0"/>
  </xacro:if>
  <xacro:if value="${tool_type == 'cement'}">
    <xacro:tool_cement prefix="${pfx}arm_" parent="${pfx}arm_tool0"/>
  </xacro:if>

</robot>
